# ========= API =========
# The full base URL of your backend (include /api/v1)
VITE_API_URL=http://localhost:4020/api/v1

# ========= APP =========
VITE_APP_NAME=PrepWise AI

# ========= ENVIRONMENT =========
# DEV | PROD
VITE_PROJECT_ENV=DEV
